<p id="notice"><%= notice %></p>

<p>
  <strong>Location:</strong>
  <%= @order.location %>
</p>

<p>
  <strong>Date time:</strong>
  <%= @order.date_time %>
</p>

<p>
  <strong>Passenger:</strong>
  <%= @order.passenger_id %>
</p>

<p>
  <strong>Driver:</strong>
  <%= @order.driver_id %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
