<h1>Passenger#show</h1>
<p>Find me in app/views/passenger/show.html.erb</p>


<br>
<h2>Order List</h2>
<h3>・Orders in Progress</h3>
<% @orders.each do |order| %>
  <%= link_to(order.date_time, order_path(order.id)) %>
  <%= link_to(order.location, order_path(order.id)) %>
  <br>
<% end %>
<br>
<h3>・Past Orders</h3>
<% @past_orders.each do |past_order| %>
  <%= link_to(past_order.date_time, order_path(past_order.id)) %>
  <%= link_to(past_order.location, order_path(past_order.id)) %>
  <%= link_to(past_order.driver.name, driver_path(past_order.driver.id)) %>
  <br>
<% end %>
